* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #101522;
  cursor: pointer;
  font-weight: bold;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: white;
  display: flex;
}

.login .loginContainer {
  padding-top: 2rem;
  padding-bottom: 0.1rem;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: f8f8ff;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: f8f8ff;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #868b91;
  font-size: 19px;
  font-weight: bold;
  padding: 10px;
  background:white;
  color: black;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color:#101522;
  font-weight: bold;
}

.login .loginContainer .btnContainer p span {
  color: rgb(70, 67, 221);
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: rgb(12, 0, 117);
}

.login .loginContainer .errorMsg {
  color: rgb(255, 0, 0);
  font-size: 16px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: white;
}

.hero nav {
  background: #ffffff;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #101522;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #000000;
}
